# 🔗 Operadores Lógicos

## ⚖️ Operadores Lógicos de Comparação
  - Os operadores utilizados para comparação são:
    - Maior que: ``>``
    - Maior ou igual: ``>=``
    - Menor que: ``<``
    - Menor ou igual: ``<=``
    - Igual: ``==``
    - Diferente: ``!=``
  
  - O resultado de uma comparação sempre vai ser um booleano, isto é, **``True``** ou **``False``**!

  - **Exemplos de códigos:**

In [ ]:
numero = 10

In [ ]:
# 10 < 100
numero < 100

True

In [ ]:
# 10 > 100
numero > 100

False

In [ ]:
# 10 == 100
numero == 100

False

In [ ]:
# 10 != 100
numero != 100

True

  - Podemos fazer comparações com duas ou mais variáveis.

In [ ]:
numero2 = 50

In [ ]:
# 10 > 50
numero > numero2

False

In [ ]:
# 10 < 50
numero < numero2

True

In [ ]:
numero3 = 4.84

In [ ]:
# 4.84 < 10
numero3 < numero

True

In [ ]:
# 50 != 4.84
numero2 != numero3

True

  - Vamos verificar se 20 (inteiro) é igual a 20.0 (float)?

In [ ]:
20 == 20.0

True

  - Podemos fazer comparação com **strings**.

In [ ]:
animacao1 = "Scooby-Doo"
animacao2 = "Batman"

In [ ]:
animacao1 == animacao2

False

In [ ]:
animacao1 != animacao2

True

In [ ]:
animacao1 > animacao2

True

In [ ]:
animacao1 < animacao2

False

  - Os operadores ``>``, ``>=``, ``<``, ``<=`` atuam comparando **ordem lexicográfica** quando aplicados a strings.

  - A ordem lexicográfica é definida a partir da [tabela ASCII](https://pt.wikipedia.org/wiki/ASCII):

<br>

<figure>
    <img src=https://s3-sa-east-1.amazonaws.com/lcpi/38601fbd-1d55-4eb0-8c7b-8f2fe6a9328e.png width=700>
    <figcaption>Wikimedia</figcaption>
</figure>

  - **Exemplos com códigos:**

In [ ]:
fruta1 = "abacate"
fruta2 = "abacaxi"

In [ ]:
# Mesmo que tenham as mesmas quantidades de letras, o Python seguirá a ordem lexicográfica
# pois a letra 't' vem antes da letra 'x'
fruta2 > fruta1

True

  - Podemos saber o valor decimal correspondente de um caractere na tabela **ASCII** utilizando a função ``ord()``.

In [ ]:
ord('m')

109

In [ ]:
ord('M')

77

  - As comparações entre ***string*** e ***tipos numéricos*** são possíveis **apenas para == e !=**:

In [ ]:
20 == '20'

False

<br>

## ⚡ Operadores Lógicos de Conjunção
  - Esses operadores são utilizados pra fazer uma combinação entre comparações.
  - Os operadores de conjunção são: **and** e **or**, e eles seguem a seguinte regra:
    - **and** só é **True** se **ambas** as comparações forem **True**:
      - **False** and **True** resulta em **``False``**.
      - **False** and **False** resulta em **``False``**.
      - **True** and **True** resulta em **``True``**.
    - **or** é **True** se **pelo menos uma** das comparações for **True**:
      - **False** or **True** resulta em **``True``**.
      - **True** or **True** resulta em **``True``**.
      - **False** or **False** resulta em **``False``**.

  - **Exemplos com códigos:**

In [2]:
print("Operador and:")
print(True and True)
print(True and False)
print(False and True)
print(False and False)

Operador and:
True
False
False
False

In [3]:
print("Operador or:")
print(True or True)
print(True or False)
print(False or True)
print(False or False)

Operador or:
True
True
True
False

  - **Exemplos de códigos com conjunção entre duas expressões lógicas:**

In [4]:
(2 < 5) and (2 == 3)

False

In [5]:
(10 != 8) or (2 < 2)

True

  - Se tivermos mais de duas comparações pra fazer conjunção, é melhor usarmos parênteses.

In [6]:
(2 < 5 and 2 == 2) or 10 != 8

True

 - Primeiro a conjunção entre parênteses é feita, e depois o resultado é usado pra avaliar a conjunção total: