#üîó Tuplas

- As tuplas s√£o uma estrutura de dados fundamental da linguagem, juntamente com as listas.
- As tuplas s√£o estruturas bastante parecidas com listas:
  - Podem guardar tipos diferentes de dados;
  - S√£o indexadas (podemos acessar elementos por √≠ndices);
  - S√£o iter√°veis (podemos percorrer com o `for`).

- A principal diferen√ßa √©: **que as tuplas s√£o imut√°veis!**

__Vantagens das tuplas:__
- S√£o mais r√°pidas que as listas;
-Protegem os dados contra modifica√ß√µes acidentais;
- Podem ser usadas como chaves em dicion√°rios;
- Ocupam menos espa√ßo em mem√≥ria que as listas.

- Tuplas s√£o inicializadas como uma sequ√™ncia de valores entre par√™nteses `()`.

In [ ]:
tupla = (1, 4.8, True, "Python", [20, 40, 60, 80])

tupla

(1, 4.8, True, 'Python', [20, 40, 60, 80])

- Podemos ver o tamanho da tupla usando a fun√ß√£o `len()`.

In [ ]:
len(tupla)

5

- No entanto, √© poss√≠vel definir tuplas sem a utiliza√ß√£o de par√™nteses, apenas **listando os elementos separados por v√≠rgula**.

In [ ]:
tupla2 = 80, 100, True, "python"

tupla2

(80, 100, True, 'python')

- Tamb√©m podemos um recurso da linguagem de programa√ß√£o Python: o **Tuple unpacking**.
- **Tuple unpacking**  permite atribuir os valores de uma tupla a v√°rias vari√°veis em uma √∫nica linha.

In [ ]:
# Tuple unpacking
valor1, valor2 = 20, 40

In [ ]:
valor1

20

In [ ]:
valor2

40

<br>

## üî® Opera√ß√µes com Tuplas

- As tuplas s√£o similares as listas.

In [ ]:
# As tuplas s√£o index√°veis
tupla[0]

1

In [ ]:
tupla[-2]

'Python'

In [ ]:
for i in range(len(tupla)):
  print(i, tupla[i])

0 1
1 4.8
2 True
3 Python
4 [20, 40, 60, 80]

- Se quisermos modificar a tupla, podemos transform√°-la em lista.

In [ ]:
lista = list(tupla)

lista

[1, 4.8, True, 'Python', [20, 40, 60, 80]]

In [ ]:
lista[1] = 4.5

lista

[1, 4.5, True, 'Python', [20, 40, 60, 80]]

- Podemos transformar a lista em tupla novamente.

In [ ]:
tupla_nova = tuple(lista)

tupla_nova

(1, 4.5, True, 'Python', [20, 40, 60, 80])

- **Lembrando:** a tupla original continua inalterada.

In [ ]:
tupla

(1, 4.8, True, 'Python', [20, 40, 60, 80])

- Exemplo utiliza√ß√£o de tuplas: retorno de mais de um valor em uma fun√ß√£o.

In [ ]:
def valor_valorquadrado_valorcurbo(numero):
  return numero, numero**2, numero**3

In [ ]:
valor_valorquadrado_valorcurbo(2)

(2, 4, 8)