# üìö Dicion√°rios

- Um dicion√°rio em Python √© uma estrutura de dados que armazena pares de chave-valor.
- √â uma forma de organizar dados de forma similar a um banco de dados.

### Caracter√≠sticas

- Cada chave √© √∫nica e associada a um valor espec√≠fico;
- As chaves podem ser strings, n√∫meros ou tuplas imut√°veis;
- Os valores podem ser strings, n√∫meros, listas, outras estruturas de dados e fun√ß√µes;
- Os dicion√°rios s√£o mut√°veis, ou seja, √© poss√≠vel adicionar, remover ou atualizar elementos sem criar um novo objeto.

````python
dicionario = {"chave": valor}
````

In [1]:
# Exemplo dicion√°rio
dicionario = {"nome": "Jo√£o", "idade": 30, "cidade": "S√£o Paulo"}
print(dicionario)

{'nome': 'Jo√£o', 'idade': 30, 'cidade': 'S√£o Paulo'}

In [2]:
# Acessando um valor de um √≠ndice no dicion√°rio
dicionario["nome"]

'Jo√£o'

### Usos

- S√£o √∫teis para representar rela√ß√µes que existem no mundo real, como um produto e seu pre√ßo;
- S√£o √∫teis para projetos complexos;
- S√£o muito utilizados em ci√™ncia de dados.

### Como verificar a exist√™ncia de uma chave

- Para verificar se uma chave existe em um dicion√°rio, pode usar o operador **in**;
- ``'chave' in dicionario`` retorna **True** se a chave estiver presente e **False** caso contr√°rio.

In [3]:
# Verificando a exist√™ncia de uma chave no dicion√°rio
if "nome" in dicionario:
    print("A chave 'nome' existe no dicion√°rio.")
else:
    print("A chave 'nome' n√£o existe no dicion√°rio.")

A chave 'nome' existe no dicion√°rio.

### Exemplo Pr√°tico Utilizando Dicion√°rios

- O exemplo abaixo ser√° um dicionario de cadastro.

In [4]:
# Dicion√°rio de cadastro: nome, idade, cidade e altura
cadastro = {
    "nome": ["Jo√£o", "Maria", "Pedro"],
    "idade": [30, 25, 35],
    "cidade": ["S√£o Paulo", "Rio de Janeiro", "Belo Horizonte"],
    "altura": [1.7, 1.65, 1.8]
}

print(cadastro)

{'nome': ['Jo√£o', 'Maria', 'Pedro'], 'idade': [30, 25, 35], 'cidade': ['S√£o Paulo', 'Rio de Janeiro', 'Belo Horizonte'], 'altura': [1.7, 1.65, 1.8]}

In [5]:
# Exemplo: pegando somente os nomes cadastrados no dicion√°rio
print(cadastro["nome"])

['Jo√£o', 'Maria', 'Pedro']

- √â poss√≠vel adicionar mais uma chave no dicion√°rio.

In [6]:
# Adicionando a chave peso em nosso dicion√°rio cadastro
cadastro["peso"] = [70, 60, 80]

cadastro

{'nome': ['Jo√£o', 'Maria', 'Pedro'],
 'idade': [30, 25, 35],
 'cidade': ['S√£o Paulo', 'Rio de Janeiro', 'Belo Horizonte'],
 'altura': [1.7, 1.65, 1.8],
 'peso': [70, 60, 80]}

- Para apagar uma chave podemos utilizar o m√©todo ``pop()`` ou o comando ``del``.

In [7]:
# Utilizando o m√©todo pop
cadastro.pop("peso")

cadastro

{'nome': ['Jo√£o', 'Maria', 'Pedro'],
 'idade': [30, 25, 35],
 'cidade': ['S√£o Paulo', 'Rio de Janeiro', 'Belo Horizonte'],
 'altura': [1.7, 1.65, 1.8]}

In [8]:
# Utilizando o del
del cadastro["altura"]

cadastro

{'nome': ['Jo√£o', 'Maria', 'Pedro'],
 'idade': [30, 25, 35],
 'cidade': ['S√£o Paulo', 'Rio de Janeiro', 'Belo Horizonte']}

- Alterar valores √© poss√≠vel em um dicion√°rio.

In [9]:
cadastro["cidade"][0] = "Uberl√¢ndia"

cadastro

{'nome': ['Jo√£o', 'Maria', 'Pedro'],
 'idade': [30, 25, 35],
 'cidade': ['Uberl√¢ndia', 'Rio de Janeiro', 'Belo Horizonte']}

- Podemos adicionar novos valores em nosso dicionario.

In [10]:
cadastro["nome"].append("Ana")
cadastro["idade"].append(28)
cadastro["cidade"].append("Curitiba")

cadastro

{'nome': ['Jo√£o', 'Maria', 'Pedro', 'Ana'],
 'idade': [30, 25, 35, 28],
 'cidade': ['Uberl√¢ndia', 'Rio de Janeiro', 'Belo Horizonte', 'Curitiba']}

- Os dicion√°rios s√£o objetos inter√°veis.
- Podemos percorrer o dicion√°rio utilizando ``for``.
- Ao fazer isso, **as chaves s√£o percorridas**.

In [11]:
# Nesse for trar√° somente as chaves do dicion√°rio
for chave in cadastro:
  print(chave)

nome
idade
cidade

In [12]:
# Agora esse for trar√° as chaves e seus respetivos valores
for chave in cadastro:
  print(chave, cadastro[chave])

nome ['Jo√£o', 'Maria', 'Pedro', 'Ana']
idade [30, 25, 35, 28]
cidade ['Uberl√¢ndia', 'Rio de Janeiro', 'Belo Horizonte', 'Curitiba']

In [13]:
# Exemplo: pegar informa√ß√µes do Pedro no dicion√°rio cadastro
for chave in cadastro:
  print(chave, cadastro[chave][2])

nome Pedro
idade 35
cidade Belo Horizonte

In [14]:
# Exemplo: pegar informa√ß√µes da Ana no dicion√°rio e colocar em uma lista
lista_ana = []

for chave in cadastro:
  lista_ana.append(cadastro[chave][3])

lista_ana

['Ana', 28, 'Curitiba']

- Podemos acessar os valores do dicion√°rio utilizando o m√©todo ``values()``.

In [15]:
cadastro.values()

dict_values([['Jo√£o', 'Maria', 'Pedro', 'Ana'], [30, 25, 35, 28], ['Uberl√¢ndia', 'Rio de Janeiro', 'Belo Horizonte', 'Curitiba']])

In [16]:
for valor in cadastro.values():
  print(valor)

['Jo√£o', 'Maria', 'Pedro', 'Ana']
[30, 25, 35, 28]
['Uberl√¢ndia', 'Rio de Janeiro', 'Belo Horizonte', 'Curitiba']

- √â poss√≠vel obter a chave e o valor do dicion√°rio.

In [17]:
for chave, valor in cadastro.items():
  print(chave, valor)

nome ['Jo√£o', 'Maria', 'Pedro', 'Ana']
idade [30, 25, 35, 28]
cidade ['Uberl√¢ndia', 'Rio de Janeiro', 'Belo Horizonte', 'Curitiba']

- Os valores do dicion√°rio podem ser transformados em lista.

In [18]:
list(cadastro.values())

[['Jo√£o', 'Maria', 'Pedro', 'Ana'],
 [30, 25, 35, 28],
 ['Uberl√¢ndia', 'Rio de Janeiro', 'Belo Horizonte', 'Curitiba']]

In [19]:
list(cadastro.keys())

['nome', 'idade', 'cidade']

- Podemos armazenar valores de um dicion√°rio em uma lista utilizando a **compreens√£o de listas**.

In [20]:
[valor[3] for valor in cadastro.values()]

['Ana', 28, 'Curitiba']

In [21]:
[cadastro[chave][2] for chave in cadastro]

['Pedro', 35, 'Belo Horizonte']

<br>

## üêº Spoiler: Biblioteca Pandas

- Como um spoiler de uma aula futura, vamos ver os valores do nosso dicion√°rio em formato de tabela utilizando essa biblioteca.

In [23]:
import pandas as pd

df = pd.DataFrame(cadastro)

df

    nome  idade          cidade
0   Jo√£o     30      Uberl√¢ndia
1  Maria     25  Rio de Janeiro
2  Pedro     35  Belo Horizonte
3    Ana     28        Curitiba

In [24]:
df['nome']

0     Jo√£o
1    Maria
2    Pedro
3      Ana
Name: nome, dtype: object

In [25]:
df.loc[2]

nome               Pedro
idade                 35
cidade    Belo Horizonte
Name: 2, dtype: object